{% extends "base.html" %}
{% block title %}Erreur 403 - Accès interdit{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h1 class="display-4">403</h1>
  <p class="lead">Vous n'avez pas la permission d'accéder à cette ressource.</p>
    {% if session.token %}
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary mt-3">Retour au dashboard</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-primary mt-3">Retour à la base</a>
    {% endif %}
</div>
{% endblock %}
