{% extends "base.html" %}
{% block title %}Erreur 404 - Page non trouvée{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h1 class="display-4">404</h1>
  <p class="lead">La page que vous cherchez n'existe pas.</p>
    {% if session.token %}
        <a href="{{ url_for('ui.dashboard') }}" class="btn btn-primary mt-3">Retour au dashboard</a>
    {% else %}
        <a href="{{ url_for('ui.login') }}" class="btn btn-primary mt-3">Retour à la base</a>
    {% endif %}
</div>
{% endblock %}
